form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-input {
  width: 50%;
}

button {
  margin: 2em;
}

mat-form-field {
  width: 1000px;
}

mat-card {
  width: 80%;
  height: 60%%;
  text-align: center;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

mat-card-content {
  font-size: 1.2em;
}