<div class="list">
  <mat-card class="blog-card" *ngFor="let blog of blogs">
    <mat-card-header class="card-header">
      <mat-card-title>{{blog.title}}</mat-card-title>
      <mat-card-subtitle>Autor: {{blog.createdBy}}</mat-card-subtitle>
      <mat-card-subtitle>Utworzony: {{blog.createdAt | date:'d-M-yyyy'}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png" alt="Photo of a Shiba Inu">
    <mat-card-content class="align-center">
      <div *ngIf="blog.body.length<300" [innerHTML]="blog.body.slice(0, 300)"></div>
      <div *ngIf="blog.body.length>=300" [innerHTML]="blog.body.slice(0, 300)+ '...'"></div>
    </mat-card-content>
    <mat-card-actions class="align-bottom">
      <button mat-raised-button color="warn">Pokaż</button>
      <button mat-raised-button color="accent" routerLink="/blogs/edit/{{blog.id}}">Edytuj</button>
    </mat-card-actions>
  </mat-card>
</div>